        <!-- end:fh5co-header -->
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url('/assets/home-image.jpg');">
				<div class="desc animate-box">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<h2>Karaoke APP</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end:fh5co-hero -->
		<div id="fh5co-schedule-section" class="fh5co-lightgray-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>Nuestros locales</h2>
							<p>Tenemos los siguientes puntos en los cuales puedes disfrutar de nuestro servicio.</p>
						</div>
					</div>
				</div>
				<div class="row animate-box">
					<div class="row text-center">

						<div class="col-md-12 schedule-container">
							<div class="schedule-content active" data-day="sunday">
								<div class="col-md-3 col-sm-6">
									<div class="program program-schedule">
										<%= image_tag "fit-yoga.svg", alt: "Cycling" %>
										<small>09PM-5AM</small>
										<h3>La Molina</h3>
										<span>Aforo: 300 personas</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="program program-schedule">
										<%= image_tag "fit-yoga.svg", alt: "" %>
										<small>09PM-5AM</small>
										<h3>La Molina</h3>
										<span>Aforo: 300 personas</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="program program-schedule">
										<%= image_tag "fit-yoga.svg", alt: "" %>
										<small>09PM-5AM</small>
										<h3>La Molina</h3>
										<span>Aforo: 300 personas</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="program program-schedule">
										<%= image_tag "fit-yoga.svg", alt: "" %>
										<small>09PM-5AM</small>
										<h3>La Molina</h3>
										<span>Aforo: 300 personas</span>
									</div>
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>
		
		
		<div id="fh5co-blog-section">
			<div class="container">
				<div class="row">
				  <div class="col-md-2">
				  </div>
					<div class="col-md-8">
						<div class="col-md-12">
							<div class="heading-section animate-box">
								<h2>Eventos proximos</h2>
							</div>
						</div>
						<div class="col-md-12 col-md-offset-0">
							<div class="fh5co-blog animate-box">
								<div class="meta-date text-center">
									<p><span class="date">28</span><span>Octubre</span><span>2016</span></p>
								</div>
								<div class="desc desc2">
									<h3><a href=""#>J Balvin</a></h3>
									<span class="posted_by">Publicado por: Administrador</span>
									<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
									<p>Ya sabes que hacer</p>
									<a href="#" class="btn btn-default">Mira mas</a>
								</div> 
							</div>
						</div>
						<div class="col-md-12 col-md-offset-0">
							<div class="fh5co-blog animate-box">
								<div class="meta-date text-center">
									<p><span class="date">24</span><span>Nov</span><span>2016</span></p>
								</div>
								<div class="desc desc2">
									<h3><a href=""#>Maluma</a></h3>
									<span class="posted_by">Publicado por: Administrador</span>
									<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
									<p>Ya sabes que hacer</p>
									<a href="#" class="btn btn-default">Read More</a>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fh5co-blog-section -->